<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Test application</h1>
		</div>
		<div>
			<p>Please login to the application</p>

			<h2>Existing Customers</h2>
			<div class="well">
				<b>Enter the intranet: </b><a th:href="@{/customers}">customers</a>
			</div>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>
